[Unit]
Description=Jenkins Notification Bridge Service

[Service]
ExecStart=/usr/local/bin/NotifyBridge.py
Restart=on-failure
Type=idle

[Install]
WantedBy=default.target
